-   repo: https://github.com/pre-commit/pre-commit-hooks.git
    sha: e306ff3b7d0d9a6fc7d128ef9ca2e0b6e6e76e8f
    stages:
    - commit
    - push
    hooks:
    -   id: detect-aws-credentials
    -   id: detect-private-key

-   repo: git://github.com/marick/pre-commit-hooks
    sha: 46d3644beff18fbb612c2de586e3435500d2c61a
    stages: [commit, push]
    hooks:
    -   id: only-branch-pushes
        args: [prevent, ^(production|master)$]
        # You can prohibit just one branch with something like
        # args: [prevent, production]

    -   id: prohibit-suspicious-patterns
        # Arguments are Ruby regular expressions.
        # So, for example, you can prohibit "todo" with any case with:
        # "(?i-mx:TODO)"
        args:
        - AKIA[[:alnum:]]{14}
        - NOCOMMIT
        - --

    -   id: prohibit-suspicious-files
        # Arguments are Ruby regular expressions.
        args:
        - ^\.ssh$
        - ^\.npmrc$
        - ^\.muttrc$
        - ^\.gitconfig$
        - ^\.netrc$
        - ^\.lein-env$
        - .log$
        - -- 
