-   repo: git://github.com/marick/pre-commit-hooks
    sha: d6dee96f56bf9290f7ebb852c4252c50b8f6215d
    stages: [commit, push]
    hooks:
    -   id: only-branch-pushes
        args: [prevent, ^(production|master)$]
        # You can prohibit just one branch with something like
        # args: [prevent, production]

    -   id: prohibit-suspicious-patterns
        # Arguments are Ruby regular expressions.
        # So, for example, you can prohibit "todo" with any case with:
        # "(?i-mx:TODO)"
        args:
        - AKIA[[:alnum:]]{14}
        - ^nocommit
        - --

    -   id: prohibit-suspicious-files
        # Arguments are Ruby regular expressions.
        args:
        - ^\.ssh$
        - ^\.npmrc$
        - ^\.muttrc$
        - ^\.gitconfig$
        - ^\.netrc$
        - ^\.lein-env$
        - .log$
        - -- 
